<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
</head>
<body>
    <form method="post">
        <input type="text" class="pesquisa" name="pesquisa" placeholder="Digite o nome que deseja pesquisar.">
        <input type="submit" value="Pesquisar">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        <% Usuarios.forEach(function (usuario) { %>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><img src="/fotos/<%=usuario.foto%>" alt="Foto do usuário"></td>
            <td><a href="/usuario/editar/<%=usuario._id%>">Editar</a></td>
            <td><a href="/usuario/deletar/<%=usuario._id%>">Deletar</a></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
